{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <h1></h1>
{% for recipe in recipes %}
    <article>
        <header>{{ recipe.title }} - {{ recipe.preparationTime }} min - {{ recipe.cookingTime }} min</header>
    </article>
    {{ recipe.title }}
{% endfor %}
{% endblock %}
